@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@utility no-scrollbar {
  ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --gap-x1: 0.5rem;

  --h-x3: 1.5rem;

  --color-gray-50: #f9fafb;
  --color-gray-100: #d8d8dc;
  --color-gray-200: #d2d2d7;
  --color-gray-300: #b2b2b2;
  --color-gray-600: #6e6e73;
  --color-gray-800: #373737;
  --color-gray-900: #1d1d1f;

  --color-white-0: #ffffff;
  --color-white-100: #fafafa;
  --color-white-400: #f5f5f7;
  --color-white-600: #f3f3f6;
  --color-white-900: #f1f1f4;

  --animate-text-pule: colorChange 2s ease-in-out infinite;

  --animate-caret-blink: caret-blink 1.5s ease-in-out infinite;

  --animate-shake-forwards: shake 300ms ease-in-out forwards;

  --animate-typing: typing 3s steps(20) infinite alternate, blink 0.7s infinite;

  @keyframes colorChange {
    0%,
    100% {
      color: var(--color-gray-900);
    }

    50% {
      color: var(--color-gray-100);
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }

    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0) translateY(0);
    }

    25% {
      transform: translateX(calc(var(--spacing) * -2)) translateY(0);
    }

    75% {
      transform: translateX(calc(var(--spacing) * 2)) translateY(0);
    }
  }
}

@theme inline {
  --color-blue-100: #d9ebff;
  --color-blue-400: #73abe7;
  --color-blue-900: #0071e3;
  --color-blue-950: #0058b1;
  --color-green-100: #a8cb9c;
  --color-green-900: #529839;
  --color-red-100: #ff36e6;
  --color-red-900: #f36961;
  --color-yellow-900: #f8ab5e;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-highlight: var(--highlight);
  --color-highlight-2: var(--highlight-2);
  --color-accent-disabled: var(--accent-disabled);

  @keyframes typing {
    0% {
      width: 0%;
      visibility: hidden;
    }

    50% {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: var(--transparent);
    }

    100% {
      border-color: var(--accent-foreground);
    }
  }
}

:root {
  --background: var(--color-white-400);
  --foreground: var(--color-gray-900);
  --card: var(--color-white-0);
  --card-foreground: var(--color-gray-900);
  --popover: var(--color-white-0);
  --popover-foreground: var(--color-gray-900);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: var(--color-gray-100);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: var(--color-gray-600);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-white-0);
  --accent-foreground: var(--color-gray-800);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: var(--color-gray-200);
  --input: color-mix(in oklab, var(--foreground) 20%, transparent);
  --ring: var(--color-blue-900);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: var(--color-white-400);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--color-white-0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --highlight: var(--color-blue-100);
  --highlight-2: var(--color-gray-50);
  --accent-disabled: var(--color-gray-100);
}

.dark {
  --background: var(--color-gray-900);
  --foreground: var(--color-white-0);
  --card: var(--color-gray-800);
  --card-foreground: var(--color-white-0);
  --popover: var(--color-gray-900);
  --popover-foreground: var(--color-white-0);
  --primary: var(--color-white-0);
  --primary-foreground: var(--color-gray-900);
  --secondary: var(--color-gray-600);
  --secondary-foreground: var(--color-gray-100);
  --muted: var(--color-gray-600);
  --muted-foreground: var(--color-gray-100);
  --accent: var(--color-gray-800);
  --accent-foreground: var(--color-gray-300);
  --destructive: var(--color-red-900);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: var(--color-gray-800);
  --input: color-mix(in oklab, var(--foreground) 20%, transparent);
  --ring: #0071e3;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-gray-900);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--color-gray-800);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: var(--color-gray-800);
  --sidebar-ring: oklch(0.439 0 0);
  --highlight: var(--color-blue-950);
  --highlight-2: color-mix(in oklab, var(--color-gray-600) 50%, transparent);
  --accent-disabled: color-mix(in oklab, var(--accent) 90%, transparent);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
